numpy>=1.19.4
torch>=1.7.0
scikit-image==0.17.2
torchvision==0.8.1
tqdm>=4.52
ninja==1.10.0.post2
opencv-python==4.4.0.46
wheel
dlib==19.14.0
hydra-core==1.0.6
ftfy==5.9
regex==2020.11.13
robustness==1.2.1.post1
torchsummary
einops
click
requests
torchinfo
comet_ml
torchdiffeq
